/*
/.cache/
!/.envrc
!/.gitignore
!/AGENTS.md
!/Makefile
!/README.md
!/ROADMAP.md
!/SPEC.md
!/TASKS.md
!/default.nix
!/flake.lock
!/flake.nix
!/generated
!/go.work
!/home.nix
!/nix
!/notes
!/static
!/tests
